@keyframes myAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(./img/fon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 735px;
}

.top_catalog {
    background-image: url(./img/banner_catalog.jpg);
    height: 400px;
}

.header {
    height: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header_input {
    width: 288px;
    height: 41px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 32px;
    padding-right: 32px;
}

.header_input::placeholder {
    color: #FFFFFF;

}

.menu {
    display: flex;
    gap: 32px;

    &_mobile {
        display: none;
    }
}

.menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF
}


.menu-link:hover {
    text-decoration: underline;
}

header {
    height: 76px;
}

.header-link {
    font-size: 16px;
    line-height: 20px;
}


.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 16px;
    margin-top: 64px;
    font-style: normal;
    color: #FFFFFF;
    margin-top: 64px;
    margin-bottom: 16px;
    max-width: 792px;
}

.title_catalog {
    margin-top: 126px;
    max-width: 792px;

}

.paragraph {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.catalog-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;

}

.catalog-link:hover {
    text-decoration-line: none;
}

.catalog-link__black_color {
    color: #000000;
}

.product_box {
    padding-top: 64px;
}

.catalog_nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.select_catalog {
    width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding: 10px 0px 10px 14px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(img/arrow.svg), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select_catalog::-ms-expand {
    display: none;
}

.breadcrumb_item {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    padding-right: 10px;

}
.breadcrumb_item:hover {
    text-decoration: underline;
}

a.breadcrumb_item::after {
    content: '/';
    padding-left: 10px;
}

.product-content {
    margin-top: 32px;
    display: flex;
    column-gap: 32px;
    row-gap: 56px;
    flex-wrap: wrap;
}

.for-box {
    padding-top: 64px;
}

.for {
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for_item {
    height: 415px;
    grid-column: span 4;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.for_item_big {
    grid-column: span 6;
}

.for_item:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 0 0 0 5px #Ccc;
    padding: 16px;

}

.for_item_1 {
    background-image: url(img/mebel1.jpg);
}

.for_item_2 {
    background-image: url(img/mebel2.jpg);
}

.for_item_3 {
    background-image: url(img/mebel3.jpg);
}

.for_item_4 {
    background-image: url(img/mebel4.jpg);
}

.for_item_5 {
    background-image: url(img/mebel5.jpg);
}

.product {
    width: 378px;
    display: flex;
    flex-direction: column;
}

.product:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 0 0 0 5px #Ccc;

}

.product img {
    width: 100%;
}

.product_box-price {
    display: flex;
    gap: 32px;
}

.heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
}

.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}

.price {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.old_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;

}

.show_more {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 64px;

}

.footer {
    background: #F7F6F6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;

}

.footer_logo {
    margin-top: 32px;
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 40px;
    width: 789px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    gap: 129px;
}

.footer_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_form {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}

.footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footer-text {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}

.email {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    margin-bottom: 12px;
    width: 275px;
    height: 46px;
    padding-left: 25px;
    padding-right: 25px;
}

.email::placeholder {
    color: #C4C4C4;
}

.button {

    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}

.button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 0 0 0 5px #Ccc;
    padding: 16px;
}

@import 'cart';
@import 'tablet';
@import 'mobile';